<p id="notice"><%= notice %></p>

<h1>Пользователи</h1>
<div class="col-md-8">
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Должность</th>
      <th>Подразделение</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.title %></td>
        <td><%= address.city %></td>
        <td><%= address.street %></td>
        <td><%= address.home %></td>
        <td><%= link_to 'Открыть', address %></td>
        <td><%= link_to 'Редактировать', edit_address_path(address) %></td>
        <td><%= link_to 'Удалить', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Добавить пользователя', new_address_path %>
</div>
